body{
<<<<<<< Updated upstream
  background-color:#C2CAD0 ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color: rgb(37, 2, 2);
 }

.left{
    float: left;
    color: brown;
    width: 15%;
=======
    background: color #c2cad0;;
}
.left{
    float: left;
    color: rgb(24, 1, 1);
    width: 30%;
>>>>>>> Stashed changes
    text-align: center;
    margin-left: 2%;
}

.right{
    float: right;
    color: blue;
    width: 60%;
}
.center{
  float: center;
  color: blue;
  width: 15%;
}

    .container {
             width: 95%;
           /*  background-color: rgb(187, 195, 201);*/
             }
     
#myh1{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  .column1 {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
    
  .column2 {
    float: left;
    width: 33.33%;
    padding: 5px;
   
  }
  
  /* Clearfix (clear floats) */
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }

  #img1{
    height: 150px;
  }
  #img2{
    height: 208px;
  }
  
         

