body{
    background-color:white;
}
.left{
    float: left;
    color: brown;
    width: 30%;
    text-align: center;
}

.right{
    float: right;
    color: blue;
    width: 60%;
}

    .wrapper {
             width: 95%;
             }
     

         

