@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
background-color: #5C2018; /* navbar background color */
font-size: 24px;
/*new font for the menu*/
font-size: medium;
text-align: right;
}

.navbar-brand {
color: #f7ff03; /* text color of the navbar brand (Name of the restaurant) */
font: Arial;
font-size: 30px;
}
image{
  height:100px;
  width:200px;
}

.navbar-brand:hover {
color: #ffffff; /* text color of the navbar brand */
}

.navbar-brand.navbar-brand:clicked {
color: #ffffff; /* text color of the navbar brand */
}

.navbar-nav{
  text-align: right;
}

.navbar-nav .nav-link {
color: #ffffff; /* text color of the navbar links */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
}

.navbar-nav .nav-link:hover {
color: #f0ce21; /* text color of the navbar links on hover */
}

.navbar-nav .nav-link.active{
color: #f7ff03; /* text color of the active navbar link */
}

.navbar-toggler {color: #FFFFFF;
}
		
.navbar-toggler {
	border-color: white; /* the dropdown's border color */
}
		
.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		} /* dropdown icon color */

#topBtn {
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 20px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap other elements on the page */
      border-color: white; /* White borders */
      outline-color: rgb(215, 5, 5); /* Remove outline */
      background-color: #D4A59A; /* Set a background color */
      color: #5C2018; /* Text color */
      cursor: pointer; /* Add a hover effect */
      padding: 3px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
}

#quangBtn {
  display: none; /* Hide the button initially */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #D4A59A; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 3px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
}