body {
    margin: auto;
    background-color: #D4A59A;
    font-size: larger;
    width: 98%;
}


img {
    width: 100%;
    height: 500px;
    margin: auto;
    vertical-align: none;
}

.frame {
    float: left;
    text-align: center;
    display: flex;

}

.item {
    margin: auto;
}

.share-icon {
    width: 35px;
    height: 35px;
    padding-left: 5px;
}

.wrapper {
    position: absolute;
    width: 49%;
    height: 100%;
    display: inline-table;
}

.col-md-4 {
    padding: 0 0 0 20px;
}

.content-helper {
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;
    
}
.font{
    font-family: 'Tahoma';
    font-size: 16px;
}

.bg-none {
    background: none;
}

.footer {
    color: white;
    background-color: #5C2018;
}

.footer .link {
    color: white;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.wrapper iframe {
    position: absolute;
    width: 49%;
    height: 100%;
    display: inline-table;
}
.bold{
    font-weight: 500;
    font-size: 40px;
}
                .mapouter {
                  position: relative;
                  text-align: center;
                  height: 500px;
                  width: 600px;
                  margin: auto;
                }

                .gmap_canvas {
                  overflow: hidden;
                  background: none !important;
                  height: 500px;
                  width: 600px;
                }
